html, body
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #ECEFF1;
}

#banner
{
	width: 100%;
	height: 60px;
	background-color: #0091EA;
	text-align: center;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.26);	
	left: 0;
	top: 0;
	position: fixed;
	z-index: 9999;
}

.navitem
{
	display: inline-block;
	height: 100%;
	line-height: 60px;
	font-size: 24px;
	padding-left: 50px;
	padding-right: 50px;
	color: white;
	cursor: pointer;
}

.card
{
	display: inline-block;
	height: 250px;
	width: 250px;
	margin: 25px;	
	background-color: #039BE5;
	text-align: center;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.26);
	color: white;
	cursor: pointer;
	transition: box-shadow 0.3s;
}

.expanded-card
{
	width: 250px;
	height: 250px;
	position: absolute;
	transition: width 0.5s, height 0.5s, left 0.5s, right 0.5s;
	display: none;
	background-color: #039BE5;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.26);
	z-index: 5;
	cursor: pointer;
}

.preview
{
	text-align: center;
	color: white;
}

#cardholder
{
	text-align: center;	
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
}

.pic
{
	text-align: center;
	width: 100%;
	height: 200px;
	background-color: white;
	margin-bottom: 2px;
}

.card:hover
{
	box-shadow: 0px 2px 7px rgba(0,0,0,0.56);
}

