html, body
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #ECEFF1;
}

#banner
{
	width: 100%;
	height: 60px;
	background-color: #0091EA;
	text-align: center;
}

.navitem
{
	display: inline-block;
	height: 100%;
	line-height: 60px;
	font-size: 24px;
	padding-left: 50px;
	padding-right: 50px;
	color: white;
	cursor: pointer;
}

.card
{
	display: inline-block;
	height: 250px;
	width: 250px;
	margin: 25px;
	background-color: #039BE5;
	text-align: center;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.26);
	color: white;
}

#cardholder
{
	text-align: center;
}

.pic
{
	text-align: center;
	width: 250px;
	height: 200px;
	background-color: white;
	margin-bottom: 2px;
}
