html, body
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

#banner
{
	width: 100%;
	height: 60px;
	background-color: #0091EA;
}

.navitem
{
	display: inline-block;
	height: 100%;
	line-height: 60px;
	font-size: 24px;
	padding-left: 50px;
	padding-right: 50px;
	color: white;
}
